fastapi
slowapi
uvicorn
gunicorn
loguru
pydantic_settings
python-multipart
pyyaml
pillow==12.3.0
numpy
openai
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-exporter-otlp-proto-grpc
prometheus-client
prometheus-fastapi-instrumentator
