# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
build/
dist/
*.egg-info/
# Model
local_models/*
.onnx
# services/vision-service/models/detection/
# services/vision-service/models/segmentation/
# services/vision-service/models/recognition/
services/vision-service/output_data_prep/
services/kie-service/models/
# training data
training/KIE/LayoutLM/data/
training/KIE/LayoutLM/outputs/
# the PaddleOCR repos
training/PaddleOCR/
# logs
*.log
*.log*
# unsure folder
libs/observability/
libs/pipeline_middleware/