# Inference Engine & Computer Vision
onnx==1.22.0
onnxruntime-gpu==1.26.0 # ps: env conflict hell, i want yolo onnx gpu
ultralytics==8.4.100
opencv-python

# FastAPI API Microservice
fastapi
slowapi
uvicorn
gunicorn
loguru
python-multipart
pydantic
pydantic-settings

# Monitoring & Metrics
prometheus-client
prometheus-fastapi-instrumentator